.linksbar {
    display: inline-block;

    padding: 10px 20px;
    border-radius: 32px;

    position: fixed;
    bottom: 50px;
    left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 150;
}

.links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 20px;
    text-decoration: none;
    color: #BDADEA;
    font-weight: 300;
    margin: 0px 10px;
}

.icon:hover {
    color: #FFFFFF;
}

@media (max-width: 640px) {
    .linksbar {
        position: relative;
        left: auto;
        padding: 8px 10px;
    }

    .icon {
        font-size: 15px;
    }
}