.hero {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20%;

    z-index: 1;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: all 1s ease;
}

.errorMessage {
    margin: 10px 10px;
}

.bigMessage {
    font-size:35px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.link {
    padding: 10px;
    margin: 10px 0px;

    display: block;
    text-decoration: none;
}

@media (max-width: 1008px) {
    .hero {
        margin: 20px;
        transform: translateX(-10%)
    }

    .bigMessage {
        font-size:25px;
    }
}