.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icon {
    font-size: 48px;
    margin: 20px 15px;

    transition: all 1s ease;
}

.icondark {
    color: #FFFFFF;
}

.image {
    height: 600px;
    width: 600px;
    margin-left: 100px;
    border-radius: 100%;
    background: #10102C;
}

.icon:hover {
    color: red;
}