.banner {
    height: 500px;
    width: 1000px;
    background: rgb(0, 153, 255);
    margin: 50px;
}

.content {
    width: 800px;
}

@media (max-width: 1008px) {
    .banner {
        width: 77%;
    }

    .content {
        width: 65%;
    }
}