.banner {
    height: 500px;
    width: 1000px;
    background: rgb(0, 153, 255);
    margin: 50px;
}

.content {
    width: 800px;
}

.sectionHeader {
    font-size: 40px;
}

@media (max-width: 1008px) {
    .banner {
        width: 77%;
    }

    .content {
        width: 65%;
    }

    .sectionHeader {
        font-size: 30px;
    }
}