.banner {
    height: 500px;
    width: 1000px;
    background: rgb(0, 153, 255);
    margin: 50px;
}

.content {
    width: 800px;
}

.sectionHeader {
    font-size: 40px;
    margin-bottom: 10px;

    transition: all 0.3s ease;
}

.summary {
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

.divider {
    width: 110%;
    transform: translateX(-5%);
    height: 2px;
    margin: 25px 0px;

    transition: all 0.3s ease;
}

@media (max-width: 1008px) {
    .banner {
        width: 77%;
    }

    .content {
        width: 70%;
    }

    .sectionHeader {
        font-size: 30px;
    }
}