@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

.background-dark {
    background: #0E1226;
}

.background-light {
    background: #EFEFEF;
}

.containerOpaque-dark {
    background: #2C2C40;
}

.containerOpaque-light {
    background: #2C2C40;
}

.opacityOff {
    opacity: 0%;
    transition: all 1s ease;
}

.opacity {
    opacity: 100%;
}

.headerText {
    font-size: 70px;
    text-align: left;
    transition: all 0.3s ease;
}

.subheaderText {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.text {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: 500;
}

.headerText-dark {
    color: #FFFFFF;
}

.headerText-light {
    color: #0E1226;
}

.subheaderText-dark {
    color: #CCCCCC;
}

.subheaderText-light {
    color: #333333;
}

.active-dark {
    color: #BDADEA;
}

.active-light {
    color: #BDADEA;
}

.inactive-dark {
    color: #BBBBBB;
}

.inactive-light {
    color: #BBBBBB;
}

.inactive-dark:hover {
    color: #BDADEA;
}

.inactive-light:hover {
    color: #BDADEA;
}

.icon-dark {
    color: #BDADEA;
}

.icon-light {
    color: #0E1226;
}


/* PROJECT AND EXPERIENCE CARDS */

.cardBar-dark {
    border-bottom: 2px solid;
    border-color: #BDADEA;
}

.cardBar-light {
    border-bottom: 2px solid;
    border-color: #0E1226;
}

.underline {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0) translateY(2px);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-dark:after {
    background-color: #BDADEA;
}

.underline-light:after {
    background-color: #0E1226;
}

.underline:hover:after {
    transform: scaleX(1) translateY(2px);
    transform-origin: bottom left;
}

/* TAG AND TAG TEXT THEMES */

.tag-dark {
    color: #BDADEA;
    border: 1px solid #BDADEA;
}

.tag-light {
    color: #0E1226;
    border: 1px solid #0E1226;
}

.tag-main-dark {
    color: #0E1226;
    background: #BDADEA;
    border: 1px solid #BDADEA;
}

.tag-main-light {
    color: #FFFFFF;
    background: #0E1226;
    border: 1px solid #0E1226;
}