@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root {
    --light-purple: #BDADEA;
    --dark-blue: #0E1226;
    --grey-blue: #2C2C40;
    --light-grey-blue: #505075;
    --white: #EFEFEF;
    --off-white: #CCCCCC;
}

/* ::selection {
    background: var(--light-purple);
} */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

.background-dark {
    background: var(--dark-blue);
}

.background-light {
    background: var(--white);
}

.containerOpaque-dark {
    background: var(--grey-blue);
}

.containerOpaque-light {
    background: var(--grey-blue);
}

.opacityOff {
    opacity: 0%;
    transition: all 1s ease;
}

.opacity {
    opacity: 100%;
}

.headerText {
    font-size: 70px;
    text-align: left;
    transition: all 0.3s ease;
}

.subheaderText {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    transition: all 0.3s ease;
}

.text {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    transition: all 0.3s ease;
}

.cardText {
    font-size: 17px;
    font-weight: 300;
    text-align: left;
    transition: all 0.3s ease;
    line-height: 30px;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: 500;
    transition: all 0.3s ease;
}

.headerText-dark {
    color: var(--white);
}

.headerText-light {
    color: var(--dark-blue);
}

.subheaderText-dark {
    color: var(--off-white);
}

.subheaderText-light {
    color: var(--grey-blue);
}

.active-dark {
    color: var(--light-purple);
}

.active-light {
    color: var(--light-purple);
}

.inactive-dark {
    color: var(--off-white);
}

.inactive-light {
    color: var(--off-white);
}

.inactive-dark:hover {
    color: var(--light-purple);
}

.inactive-light:hover {
    color: var(--light-purple);
}

.icon-dark {
    color: var(--light-purple);
}

.icon-light {
    color: var(--grey-blue);
}

.linkInactive-dark {
    color: var(--off-white);  
}

.linkInactive-light {
    color: var(--light-grey-blue);
}

.linkActive-dark {
    color: var(--light-purple);
}

.linkActive-light {
    color: var(--dark-blue);
}

.repoLink-dark {
    color: var(--light-purple);
    transition: all 0.3s ease;
}

.repoLink-dark:hover {
    color: var(--off-white);
}

.repoLink-light {
    color: var(--light-grey-blue);
    transition: all 0.3s ease;
}

.repoLink-light:hover {
    color: var(--dark-blue);
}

/* PROJECT AND EXPERIENCE CARDS */

.cardBar-dark {
    border-bottom: 1px solid;
    border-color: var(--light-purple);
}

.cardBar-light {
    border-bottom: 1px solid;
    border-color: var(--dark-blue);
}

.divider-dark {
    background: var(--light-purple);
}

.divider-light {
    background: var(--dark-blue);
}

.underline {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0) translateY(2px);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-dark:after {
    background-color: var(--light-purple);
}

.underline-light:after {
    background-color: var(--dark-blue);
}

.underline:hover:after {
    transform: scaleX(1) translateY(2px);
    transform-origin: bottom left;
}

.menuColour-dark {
    background: var(--light-purple);
}

.menuColour-light {
    background: var(--dark-blue);
}

/* TAG AND TAG TEXT THEMES */

.tag-dark {
    color: var(--light-purple);
    border: 1px solid var(--light-purple);
}

.tag-light {
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.tag-main-dark {
    color: var(--dark-blue);
    background: var(--light-purple);
    border: 1px solid var(--light-purple);
}

.tag-main-light {
    color: var(--white);
    background: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.back {
    position: absolute;
    top: 30px;
    left: 2%;
    display: flex;
    align-items: center;
}

.back-dark {
    color: var(--light-purple);
}

.backIcon:active {
    color: var(--light-purple);
}

.back-light {
    color: var(--dark-blue);
}

.backIcon:active {
    color: var(--dark-blue);
}

.backText {
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
}

.back:link {
    text-decoration: none;
    color: inherit
}

.back:active {
    text-decoration: none;
    color: inherit
}

.back-dark:active .backIcon {
    color: var(--light-purple);
}

.back-light:active .backIcon {
    color: var(--dark-blue);
}

.backIcon {
    font-size: 40px;
}

@media (max-width: 1008px) {
    .backText {
        display: none
    }

    .backIcon {
        transform: translate(15px, 130px);
        position: fixed;
    }
}

/** LOADER **/

.ripple-loader {
    position: relative;
    width: 64px;
    height: 64px;
    transform: translateX(-32px);
    margin: 50px auto;
  }
  
  .ripple-loader div {
    position: absolute;
    border: 4px solid #454ADE;
    border-radius: 50%;
    animation: ripple-loader 1s ease-out infinite;
  }
  
  .ripple-loader div:nth-child(2) {
    animation-delay: -0.5s;
  }
  
@keyframes ripple-loader {
    0% {
        top: 64px;
        left: 64px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 128px;
        height: 128px;
        opacity: 0;
    }
}

/** INPUT FORMS **/

.input-dark {
    background: var(--grey-blue);
    border: 1px solid var(--light-purple);
    color: var(--off-white);
}

.input-light {
    background: var(--off-white);
    border: 1px solid var(--dark-blue);
    color: var(--grey-blue);
}

/* MEDIA QUERIES */

@media (max-width: 1008px) {
    .headerText {
        font-size: 50px;
    }

    .subheaderText {
        font-size: 18px;
    }

    .cardText {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .headerText {
        font-size: 40px;
    }

    .subheaderText {
        font-size: 16px;
    }

    .text {
        font-size: 14px;
    }

    .cardText {
        font-size: 15px;
    }
}